/* TaskLine.css */
.task-line {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    border: 2px solid #000000;
    border-radius: 12px;
    padding: 10px;
}

.task-checkbox {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    border: 2px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.task-details {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.task-title {
    font-weight: bold;
    margin-right: 10px;
}

.task-priority {
    text-align: right;
    padding: 2px 6px;
    border: solid 2px #000000;
    border-radius: 10px;
    color: rgb(0, 0, 0);
}